<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="jrow mb-3">
  <div class="col-md-8 offset-md-2">
    <h1> Medication List </h1>
</div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a New Medication 
    </h2>

    <form action="/insert_drug" method="post">
      <div class="form-group">
        <label for="description_box">
          Name 
        </label>

        <input type="text" id="description_box" name="description_from_query" class="form-control">
      </div>


      <div class="form-group">
        <label for="take_at_box">
          Take at
        </label>

        <input type="datetime-local" id="take_at_box" name="take_at_from_query" class="form-control">
      </div>


      <div class="form-group">
        <label for="amount_box">
          Amount
        </label>

        <input type="text" id="amount_box" name="amount_query" class="form-control">
      </div>

        <div class="form-group">
            <label for="rating_box"> Rating </label>
            <select class="form-control" id="rating_box" name="rating_from_query">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
            </select>
          </div>


      <button class="btn btn-block btn-outline-secondary">
        Add Medication 
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Patient
        </th>

        <th>
          Name
        </th>

        <th>
          Take at
        </th>

          <th>
          Amount
        </th>

        <th> 
        Latest Rating <i> (Five Point Scale) </i>
        </th> 
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @drugs.each do |drug| %>
      <tr>
        <% if @current_user.id == drug.user_id %> 
        <td>
          <%= drug.drug_users %> 
        </td>

        <td>
          <%= drug.description %>
        </td>



        <td>
          <%= drug.take_at.strftime("%B %d, %Y at %l:%M %p") %>
        </td>


        <td>
          <%= drug.amount %>
        </td>

        <td> 
          <%= drug.rating %> 
        </td> 

        <td>
          <%= time_ago_in_words(drug.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(drug.updated_at) %> ago
        </td>

        <td>
          <a href="/drugs/<%= drug.id %>">
            Show details
          </a>
        </td>
      </tr>
    <%end%> 
      <% end %>
    </table>
  </div>
</div>

<hr>
