<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @doctor.name  %> Details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/doctors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_doctor/<%= @doctor.id %>" class="btn btn-block btn-outline-secondary">
          Delete doctor
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @doctor.name %>
      </dd>

      <dt>
        Speciality
      </dt>
      <dd>
        <%= @doctor.speciality %>
      </dd>


      <dt>
        Latest Rating <i> (Five Point Scale) </i>
      </dt>
      <dd>
        <%= @doctor.rating %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@doctor.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@doctor.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit doctor
    </h2>

    <form action="/modify_doctor/<%= @doctor.id %>"  method="post" >
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name_from_query" class="form-control" value="<%= @doctor.name %>">
      </div>

      <div class="form-group">
        <label for="speciality_box">
          Speciality
        </label>

        <input type="text" id="speciality_box" name="speciality_from_query" class="form-control" value="<%= @doctor.speciality %>">
      </div>


        <div class="form-group">
            <label for="rating_box"> Rating </label>
            <select class="form-control" id="rating_box" name="rating_from_query" value="<%= @doctor.rating %>">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
            </select>
          </div>

      <button class="btn btn-block btn-outline-secondary">
        Update doctor
      </button>
    </form>
  </div>
</div>

<hr>
