<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <div>
        <a href="/">
          <i class="fab fa-firstdraft fa-fw"></i>

          Medications
        </a>
      </div>

      <div>
        <a href="/appointments">
          <i class="fas fa-users"></i>

          Appointments 
        </a>
      </div>

        <div>
        <a href="/doctors">
          <i class="fas fa-users"></i>

          All Available Doctors 
          
        </a>
      </div>
      <% if @current_user == nil%>
        <div>
          <a href="/user_sign_up">
            <i class="fas fa-users"></i>

            Sign Up
          </a>
        </div>

        <div>
          <a href="/user_sign_in">
            <i class="fas fa-users"></i>

            Sign In 
          </a>
        </div>

      <%else %>

            <div>
          <a href="/user_sign_out">
            <i class="fas fa-users"></i>

            Sign Out
          </a>
        </div>

            <div>
           <b> Currently signed into: </b> <%= @current_user.email%> 

        </div>

      <%end %>
    </nav>
        <%= yield %>
  </body>
</html>
